.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.loginCard {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
  background: #ffffff;
  border-radius: 8px;
  padding: 32px;
  text-align: center;
}

.actionButton {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  background-color: #ef5366;
  box-shadow: 0 2px 0 rgb(255 5 5 / 6%);
  border: 1px solid #ef5366;
  margin: 10px 0;
  cursor: pointer;
}

.loginCard button {
  margin-top: 32px;
}
